<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/header.ejs') %>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Checkout the images below</h1>
    <p>
        Click on an image to enlarge it<br/>
        Swipe or use arrow keys to navigate up or down through images in a set<br/>
        Swipe or use arrow keys to navigate left or right through sets
    </p>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/SgtPooki/ie11"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="row">
    <%- include('../partials/mediaSet.ejs', {mediaSets: photos}) %>
  </div>
</div>


  <%- include('../partials/footer.ejs') %>
</body>
</html>
