
<% mediaSets.forEach(function(mediaSet){ %>
<div class="col-md-4">
    <% mediaSet.forEach(function(mediaItem){ %>
      <%- include('mediaTile.ejs', {media: mediaItem}) %>
    <% }); %>
</div>
<% }); %>
