
<a class="media" src="#0">
    <div class="media-left">
        <img alt="<%= media.alt_text %>" class="media-object" data-src="<%= media.url %>" style="width: 400px;">
    </div>
    <div class="media-body">
        <h4 class="media-heading"><%= media.title %></h4>
        <%- media.caption %>
    </div>
</a>
