<section class="carousel">
    <% mediaSets.forEach(function(mediaSet, index){ %>
    <div class="col-md-4 carouselItem <%= index === 1 ? 'active' : '' %>">
        <% mediaSet.forEach(function(mediaItem){ %>
          <%- include('mediaTile.ejs', {media: mediaItem}) %>
        <% }); %>
    </div>
    <% }); %>
</section>
